.footer {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  background: linear-gradient(to right, #3e9dc9, #17cddf);
}

.footer__logo {
  width: 8rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.footer__item {
  font-size: 1rem;
}

.footer__link {

  text-decoration: none;
}

.footer__icons {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  
}
