/*---footer---*/
@media (max-width: 1200px) {
  .footer__logo {
    width: 13%;
  }
}

@media (max-width: 720px) {
  .footer {
    font-size: 10px;
    padding: 20px;
  }

  .footer__logo {
    width: 13%;
  }

  .footer__title {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .footer__item {
    font-size: 10px;
  }

  .footer__sitemap {
    margin-bottom: 5px;
  }

  .footer__icons {
    width: 1.2rem;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 10px 20px;
    font-size: 10px;
  }

  .footer__logo {
    width: 15%;
    margin-bottom: 15px;
  }

  .footer__title {
    font-size: 9px;
    margin-bottom: 4px;
  }

  .footer__item {
    font-size: 7px;
  }
}

/*---section---*/
@media (max-width: 1200px) {
  .section__imagem {
    width: 25%;
  }
}

@media (max-width: 720px) {
  .section__title {
    font-size: 1.3rem;
  }

  .section__imagem {
    width: 25%;
    margin-bottom: 5%;
  }
}

@media (max-width: 360px) {
  .section__title {
    font-size: 1rem;
  }

  .section__imagem {
    width: 40%;
    margin-bottom: 10%;
  }
}

/*---header---*/
@media (max-width: 1200px) {
  .header__logo {
    width: 40%;
  }
}

@media (max-width: 720px) {
  .header__logo {
    width: 60%;
  }
}

/*---article---*/
@media (max-width: 1200px) {
  .article__title {
    font-size: 1.2rem;
  }

  .article__text {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .article__title {
    font-size: 1.3rem;
  }

  .article__text {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .article__title {
    font-size: 1rem;
  }

  .article__text {
    font-size: 0.7rem;
  }
  .article {
    grid-template-columns: 1fr;
  }
}

/*---nav---*/
@media (max-width: 1200px) {
  .nav__items {
    margin-bottom: 0%;
    gap: 10px;
    flex-wrap: nowrap;
    text-align: center;
  }

  .nav__link {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 720px) {
  .nav__items {
    margin-bottom: 0%;
    gap: 10px;
    flex-wrap: nowrap;
    text-align: center;
  }

  .nav__link {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 360px) {
  .nav__items {
    flex-direction: column;
    
  }

  .nav__link {
    white-space: nowrap;
    padding: 2%;
    font-size: 0.5rem;
  }
}
